/ALPHABET/bin/
/ALPHABET/obj/
/HW.03.Casting/bin/
/HW.03.Casting/obj/
/HW.04.ARRAYS/bin/
/HW.04.ARRAYS/obj/
/HW03.Operators/bin/
/HW03.Operators/obj/
/HW03.Calculator/bin/
/HW03.Calculator/obj/
/HW03.Birthday/bin/
/HW03.Birthday/obj/
/HW01IMAGE/bin/
/HW01IMAGE/obj/
/HW.04.Types/bin/
/HW.04.Types/obj/